In [1]:
# Project Name : Gender Classifier for Indonesian Names
# Author : Sinubi
# https://github.com/sinubi-idr/gender-classifer-for-indonesian-names

# c2ludWJpIC0gZ2VuZGVyIGNsYXNzaWZpZXIgZm9yIGluZG9uZXNpYW4gbmFtZXM=
# RGlwdWJsaWthc2lrYW4gb2xlaCBTaW51YmkgcGFkYSBPa3RvYmVyIDIwMjE=

<h3> Pustaka </h3>

In [2]:
import pandas as pd
import numpy as np
from nubi_genderClassifierByName import *

<h3> Setup </h3>

In [3]:
# Setup
nubi_stuff = setup()

<h3> Prediksi untuk Satu Nama </h3>

In [4]:
nama = "tono"
prediksi = predict_string(nubi_stuff,nama)
print(prediksi)

pria

<h3> Prediksi untuk Kolom Nama pada DataFrame </h3>

In [5]:
# Buat dan Muat Data
data = pd.DataFrame({'nama':['tono','budi','putra','ayu','bunga','putri'],
                     'umur':[20,25,22,19,27,24]})
data

    nama  umur
0   tono    20
1   budi    25
2  putra    22
3    ayu    19
4  bunga    27
5  putri    24

In [6]:
# Prediksi
data["prediksi_jenis_kelamin"] = predict_dfColumn(nubi_stuff,data["nama"])
data

    nama  umur prediksi_jenis_kelamin
0   tono    20                   pria
1   budi    25                   pria
2  putra    22                   pria
3    ayu    19                 wanita
4  bunga    27                 wanita
5  putri    24                 wanita